<ion-view title="Contacts" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="contacts-form1" class="list">
      <label class="item item-input" id="contacts-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item class="item-avatar" id="contacts-list-item19" ui-sref="rocco()">
        <img src="img/vWswkDlmRK5dkxFfZVbg_ROCCO.PNG">
        <h2>Rocco</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item20" ui-sref="miguelTongol()">
        <img src="img/mdQDSjqOQKCBHRw9X4Dz_play.png">
        <h2>Miguel Tongol</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item21" ui-sref="peter()">
        <img src="img/hNGOfB7NRlOMw5RRlK4q_PETER.PNG">
        <h2>Pits</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item22" ui-sref="reyvie()">
        <img src="img/3YsJCpXKTG6aJcEycMnP_reyvie.png">
        <h2>Reyvie</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item23" ui-sref="eugene()">
        <img src="img/LQdRrGRRv6kpqEZk9MLX_EUGENE.PNG">
        <h2>Eugene</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item24" ui-sref="henryUncle()">
        <img src="img/TdpQwzcLQ0WF5u3JQWfL_uncle.png">
        <h2>Uncle</h2>
      </ion-item>
    </form>
  </ion-content>
</ion-view>