<ion-view title="Eugene" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="eugene-list10">
      <ion-item class="item-thumbnail-left" id="eugene-list-item38">
        <img src="img/QiHkfQ6TVG6XhVvzinDr_EUGENE.PNG">
      </ion-item>
    </ion-list>
    <div id="eugene-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">mobile</p>
    </div>
    <h1 id="eugene-heading5" style="color:#000000;">0908 801 2455</h1>
  </ion-content>
</ion-view>