<ion-view title="Henry (Uncle)" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="henryUncle-list11">
      <ion-item class="item-thumbnail-left" id="henryUncle-list-item39">
        <img src="img/N7xags5TXKBRIvJ2xzLG_uncle.png">
        <h2>I</h2>
      </ion-item>
    </ion-list>
    <div id="henryUncle-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">mobile</p>
    </div>
    <h1 id="henryUncle-heading6" style="color:#000000;">0915 305 2472</h1>
  </ion-content>
</ion-view>