<ion-view title="Rocco" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="rocco-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">mobile</p>
    </div>
    <ion-list id="rocco-list12">
      <ion-item class="item-thumbnail-left" id="rocco-list-item40">
        <img src="img/Jgkig3raTkCKxSjTOaK9_ROCCO.PNG">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <h1 id="rocco-heading1" style="color:#000000;">0906 801 2472</h1>
  </ion-content>
</ion-view>